*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: sans-serif;
      background-color: #ecf0f3;
      outline: none;                                                /* button border none */
}
.container{
      height: 100vh;
      display: flex;
      align-items: center;                                         /* makes vertical center */
      justify-content: center;                                      /* makes horizontal center */
}
.calculator{
      padding: 15px;
      border-radius: 30px;
      box-shadow: inset 5px 5px 12px #fff,                           /* inset(inside) 5px vertical 5pc horizontal 12px blur white color*/
                        5px 5px 12px rgba(0, 0, 0,.16);              /*outside*/
      display: grid;
      grid-template-columns: repeat(4, 68px);                          /* 4 columns with each size of 68px */

}
input{
      grid-column: span 4;                                                 /*input takes the space of 4column of grid and make itself one column*/
      height: 70px;
      width: 260px;
      background-color: #ecf0f3;
      box-shadow: inset -5px -5px 12px #fff,
                  inset  5px  5px 12px rgba(0, 0, 0,.16);
      border: none;
      border-radius: 30px;
      color: rgba(70, 70, 70,);
      font-size: 50px;
      text-align: end;
      margin: auto;
      margin-top: 40px;
      margin-bottom: 30px;
      padding: 15px;
}
button{
      height: 48px;
      width: 48px;
      box-shadow: -5px -5px 12px #fff,                        /*right and bottom*/
                  5px 5px 12px rgba(0, 0, 0,.16);             /*left top*/
      border: none;
      border-radius: 50%;
      margin: 12px;
      font-size: 16px;
} 
button:hover{
      cursor: pointer;
} 
.equal{
      width: 115px;
      border-radius: 40px;
      box-shadow: -5px -5px 12px #fff,    
                  5px 5px 12px rgba(0, 0, 0,.16);
}   